.button-wrapper {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
}

.button-wrapper button {
    background: #480584;
    border: 1px solid #480584;
    padding: 1rem;
    color: white;
    margin-bottom: .5rem;
    border-radius: .3rem;
    font-size: 1.5rem;
}

.button-wrapper button:hover {
    background: #7015c4;
    border: 1px solid #7015c4;
}